
@font-face {
  font-family: 'SFPro';
  src: url('@/assets/fonts/sf.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  padding: 0;
  margin: 0;
    font-family: 'SFPro', sans-serif;
  box-sizing: border-box;
}
